/* Main page fade in animation */

.fade-in {
	animation: fadeIn 0.8s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	100% {
		transform: translateX(0px);
	}
}

/* Log in button animation */

.loginBtn-anim:hover {
	animation: loginBtnHov 0.4s ease 0s 1 normal forwards;
}

.loginBtn-anim:not(:hover) {
   animation: loginBtnNoHov 0.4s ease 0s 1 normal forwards;
	opacity: 1;
}

@keyframes loginBtnHov {
	0% {
		transform: scale(0.92);
		background-color: #3E90CC;
	}

	100% {
		transform: scale(1);
		background-color: #2B70A1;
	}
}

@keyframes loginBtnNoHov {
	0% {
		transform: scale(1);
		background-color: #2B70A1;
	}

	100% {
		transform: scale(0.92);
		background-color: #3E90CC;
	}
}

/* Username/Password when highlighted Animation */

   .up-anim-highlight:focus {
	animation: upAnimFocus 0.4s;
	outline: 0;

	border-width: 5px;
	border-color: #30C5FF;
}

	.up-anim-highlight:not(:focus) {
	animation: upAnimNoFocus 0.4s;
	
	border-width: 2px;
	border-color: black;
}

@keyframes upAnimFocus {
	0% {
		padding: 1px;
		border-width: 2px;
		border-style: solid;
		border-radius: 8px;
		border-color: black;
	}

	100% {
		border-width: 5px;
		border-color: #30C5FF;
	}
}

@keyframes upAnimNoFocus {
	0% {
		border-width: 5px;
		border-color: #30C5FF;
	}
	100% {
		padding: 1px;
		border-width: 2px;
		border-style: solid;
		border-radius: 8px;
		border-color: black;
	}
}

/* Second page fade in animation */

.second-fade-in {
	animation: secondFadeIn 1s;
}

@keyframes secondFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}