.temp-flex {
   background-color: none;

   width: 100vw;
   height: 256px;

   display: flex;
   flex-direction: column;

   justify-content: center;
   align-content: center;
}

.temp-item {
   font-size: 64px;
   text-align: center;
}

#temp-item-1 {
   background-color: none;
}

#temp-item-2 {
   background-color: none;
}

/* Sub flexbox (Inside second row of primary flexbox) */

.temp-subflex {
   display: flex;
   flex-direction: row;

   justify-content: center;
   align-items: center;
   column-gap: 3vw;
}

#temp-subitem-1 {
   cursor: pointer;
   background-color: none;
   width: 64px;
   height: 64px;
}

#temp-subitem-2 {
   background-color: none;
}

#temp-subitem-3 {
   cursor: pointer;
   background-color: none;
   width: 64px;
   height: 64px;
}

/* #temp-number {
   color: none;
} */